<template name="detail">
	<section class="top-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
	<h1>{{getCity}}, {{getState}}: {{getTechnology}}</h1>
</div>
</div>
<div class="row">
	<div class="col-md-5">
			{{#each getGlassdoor.cities}}
			<p><span class="description">Number of Jobs:</span> {{ numJobs }} </p>
			{{/each}}
		</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<p><span class="description">Number of Stack Overflow Questions:</span> {{ getStackOverflow }}</p>
				</div>
				</div>
	</div>
</section>
</template>
